@import "./variables.scss";
@import "./fonts/index.scss";
@import "./components/";

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  * {
    box-sizing: border-box;
  }
}

code {
  font-family: "Raleway", sans-serif;
}
